<html> 
    <head>



    </head>

    <body>
        <form class = "grid" action = "/result" method = "POST">
            <label for ='Number'> Number of news articles </label>
            <input type = "text" name = "number" id = "number"> 


            <input type = "Submit" name = "file_submit" value = "All">
            <input type = "Submit" name = "file_submit" value = "Positive">
            <input type = "Submit" name = "file_submit" value = "Negative">
        </form>


    </body>





</html>